.navbar{
 display: flex;
 justify-content: space-evenly;
 padding: 10px;
 box-shadow: 0 1px 3px -2px #000;   
}
.logo{
    gap: 10px;
    display: flex;
    align-items: center;
}

  
.logo p{
    font-family: "Anek Bangla";
    font-size: 32px;
    font-optical-sizing: auto;
    
    font-weight: 500;
    font-style: normal;
    color: #171717;
    

}
#logo-icon{
    height: 100px
}
.login-cart-profile > img{
    cursor: pointer;
    width: 32px;                
}
.nav-items{
    display: flex;
    gap: 40px;
    align-items: center;
    color: #000000;
    list-style: none;
    font-size: 20px;
}
.nav-items li{
    cursor: pointer;
    flex-direction: column;
    align-items: center ;
    color: #000;
    text-decoration: none;
    justify-content: center;
    gap: 3px;
}
.nav-items hr{
 width: 80%;
 border-radius: 10px;
 height: 3px;
 border: none;
 background-color: black;
}
.login-cart-profile{
    display: flex;
    gap: 50px;
    align-items: center;
}
.login-cart-profile button{
    border-radius: 75px;
    width: 120px;
    height: 40px;
    color: #515151;
    background: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #7a7a7a;
}
.login-cart-profile button:active{
    background: #f0f0f0;
}
.login-cart-count{
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left:-55px ;
    display: flex;
    border-radius: 11px;
    font-size: 14px;
    background :red;
    color: white;

}
/* Add this to your CSS file */
.search-bar {
    display: flex;
    position: relative;
    align-items: center;
    margin: 10px 1rem;
  }
  
  .search-bar input {
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-right: 0.5rem;
    height: 40px;
    width: 350px;
    padding-right: 40px;
  }
  
  .search-bar button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  .search-bar button img {
    width: 20px;
    height: 20px;
  }
  
  .search-bar button:hover {
    cursor: pointer;
  }